@page
@model IndexModel
@{
    ViewData["Title"] = "Title";
}

<h1>Values</h1>
<div>
    @foreach (var value in Model.Values)
    {
    <form asp-page-handler="remove" method="Post">
        <input asp-for="Value" value="@value" readonly/>
        <button>remove</button>
    </form>
    }
</div>
<form method="Post">
    <input asp-for="Value" />
    <input type="submit" value="add" />
</form>