@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Title";
}

<h1>Previous answers</h1>
<ul>
    @foreach (var value in Model.Values)
    {
        <li>@value</li>
    }
</ul>
<form method="post">
    answer: <input asp-for="Value" value="@Model.Value" />
    <button asp-page-handler="next">next</button>
    <button asp-page-handler="back">back</button>
</form>